.home {
    background-color: white;
    color: #ba132b;
    /*    012761*/
    padding: 10px;
    margin: 0px;
}

.fixed{
    position: fixed;
    width: 100%;
}


body {
    margin: 0px;
}

header {
    background-color: #ba132b;
    border-bottom: solid white 5px;
}

footer {
    background-color: #ba132b;
}

nav {
    background-color: #485155;
    font-family: 'verdana';
    font-size: 1.5em;
    border-bottom: solid #ba132b 5px;
}

nav ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
    margin: 0px;
}

nav li {
    display: inline-block;
    margin: 0px 15px;
}

li a {
    display: block;
    padding: 10px 8px;
    text-decoration: none;
    color: #FFF;
}

li a:hover {
    background-color: #ba132b;
}

figure {
    margin: 0px;
}

img {
    display: block;
    width: 100%;
    height: 80%;
}

figcaption {
    text-align: center;
}

div {
    background-color: #ba132b;
    padding: 5px;
    margin-bottom: 5px;
}



h1 {
    margin: 0px 20px;
    color: white;
    font-size: 48px;
    padding: 5px;
}

h4 {
    margin: 0px 20px 0px 20px;
    color: white;
    font-size: 32px;
}

p {
    margin: 0px 20px;
}
